body{
    background : #ffc0cb;
    
}
.whole{
    
    width: 800px;
    height: 340px;
    background: #fff;
    margin-left: 250px;
    margin-top: 130px; 
    padding: 20px;
    border-radius: 30px; 
    border: 1px solid #000;
    box-shadow: 0 0 12px 3px #fff; 
  
}
.title{
    width: 730px;
    height: 30px;
    color: #ffff00;
    background: #0000ff;
    padding: 20px;
    margin: 10px;
    font-size: 30px;
    border-radius: 20px;
    text-align: center;
}

.question{
    width: 700px;
    height: 10px;
    padding: 20px;
    margin: 10px;
    font-size: 22px;
    background: #87cefa;
    border-radius: 15px;
    
}
.opt{
    width: 300px;
    padding: 10px 0px 10px 15px;
    background: #add;
    margin: 10px 20px 15px 45px;
    border-radius: 10px;
    display: inline-block;    
}
.next{
    border: none;
    padding: 10px;
    margin-left: 665px;
    background: #3cb;
    border-radius: 10px;
    width: 80px;
    outline: none;
  
}

